<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941775062028-62ahh51a6p3j8dqflqsqcogldhuctrlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941775062028-62ahh51a6p3j8dqflqsqcogldhuctrlb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>941775062028-abmnjmq5gbk8diij5uou517cr68k1vm6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuhQSyLF7Hm5hnwVJ62Oti-WN7UEj5MTs</string>
	<key>GCM_SENDER_ID</key>
	<string>941775062028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dongbuExample</string>
	<key>PROJECT_ID</key>
	<string>dongbu-example</string>
	<key>STORAGE_BUCKET</key>
	<string>dongbu-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941775062028:ios:a56b4c5c7c1af966209a29</string>
</dict>
</plist>